.user-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.user-carousel-container {
  width: 80%;
  padding: 3% 5%;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  position: relative;
}

.hier-main-div {
  padding: 0 4%;
  margin-bottom: 15vh;
}

.left-btn,
.right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  cursor: pointer;
  user-select: none;
}

.left-btn {
  left: 0;
}
.right-btn {
  right: 0;
}

.user-card {
  opacity: 0;
  transition-duration: 1s ease;
}

.user-card.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.view-carousel {
  margin-top: 2vh;
  width: fit-content;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  border: 2px solid #473bf0;
  cursor: pointer;
  border-radius: 15px;
}

.view-carousel:hover {
  background-color: #473bf0;
  color: white;
}
.v-active {
  background-color: red;
  color: white;
  border: none;
}

.team-name {
  width: fit-content;
  color: #473bf0;
}

footer {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  font-size: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  letter-spacing: 1px;
}

.footer {
  padding: 10px 0;
  background: #444;
}
.nova {
  color: white;
  text-decoration: none;
}
.nova:hover {
  text-decoration: none;
  color: blue;
}
